/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
 
html {
    background-color: #313131;
}

body {
    width: auto;
    text-align:center;
}

p {
    color:#FFFFFF;
    font-size:16pt;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}
.centered {
    text-align:center;   
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#logo{
    padding-top: 50px;
    padding-bottom: 0px;
}

.QupInput{
    text-transform: uppercase;
    font-family: monospace;
    font-size: 16pt;
    color: #000000;
    background-color: #ffffff;
    border-style:solid ;
    text-align:center;
    padding-top:6px;
    padding-bottom:6px;
    padding-left:2px;
    width: 232px;
}

.search_result_item button{
    width:543px;
    float:right;
}

.search_result_item{
    margin-top: 2px;
}

#sp-list{
    height: 420px;   
}

.QupButton{
    color: #ffffff;
    background-color: #74b301;
    border-style:solid;
    border-color:#74b301;
    border-radius: 2px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16pt;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
}


#Create{
    width: 117px;
    padding-top:2px;
    padding-bottom:2px;
}

#Join{
    width: 117px;
    padding-top:2px;
    padding-bottom:2px;
}

.Upvote{

    font-size:16pt;
    color: #FFFFFF;
    background-color:#74b301;
    border: 1px solid #313131;
    border-top-left-radius: 8px;
    /*border-bottom-left-radius: 5px;*/
    height: 37px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align:left;
    overflow:ellipsis;
    display:inline-block;
    white-space:nowrap;
    
    width: 40px;
    float: left;
    
    margin-left: 5px;
    
    padding-left:2px;
}

#SongData{
    font-size: 16pt;
    color: #000000;
    background-color: #ffffff;
    height: 28px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid #313131;
    border-bottom-right-radius: 8px;
    text-align:left;
    overflow:hidden;
    display:inline-block;
    white-space:nowrap;
    float:right;
    width: 538px;
    
    padding-top: 7px;
    padding-right:12px;
    padding-left: 2px;

}

#track_search{

    font-size: 16pt;
    color: #000000;
    background-color: #ffffff;
    height: 26px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid #313131;
    border-bottom-right-radius: 8px;
    text-align:center;
    text-overflow:ellipsis;
    overflow:hidden;
    display:inline-flex;
    white-space:nowrap;
    
    
    margin-right:0px;
    margin-left:0;
    float: right;
    width: 538px;
    text-align:left;
    
    padding-top:7px;
    padding-right:12px;
    padding-left:2px;
    

}

#playlist_list {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

#playlist_list h2 pre.code {
   background: rgba(255,255,255,0.2);
   border: 0px solid #ffffff;
   border-radius: 5px;    
   color: #FFFFFF;
}

#playlist_list h2 pre.code a{
    font-size: 16pt;
    color: #FFFFFF;
}
