<%= form_tag "/playlist/#{@playlist.code}" do |f| %>
<input placeholder="playlist" type="text" maxlength="10" onkeyup="this.value = this.value.replace(/[^a-zA-Z]/, '')"/>
<br>
        
<button type="submit" onclick="playlistJoin()">Join</button>

<% end %>