<%= form_tag "/playlist/join" do |f| %>
<input placeholder="playlist" type="text" name="code" maxlength="10" onkeyup="this.value = this.value.replace(/[^a-zA-Z]/, '')"/>
<br>
        
<button type="submit">Join</button>

<% end %>