<%= form_tag "/playlist/join" do |f| %>
<input class="QupInput" placeholder="playlist" type="text" name="code" maxlength="10" onkeyup="this.value = this.value.replace(/[^a-zA-Z]/, '')"/>
<br>
        
<button class="QupButton" id="Create" type="submit">Join</button>

<% end %>